<div class="nav-bar text-center right">
    <ul class="button-group">
        <a class="hollow button" href="{ZEMA_ROOT}/home">Home</a>
        <a class="hollow button" href="{ZEMA_ROOT}/docs">Docs</a>
        <a class="hollow button" href="{ZEMA_ROOT}/tutorials">Tutorials</a>
        <a class="hollow button" href="{ZEMA_ROOT}/contact">Contact</a>
        <a class="hollow button" href="{ZEMA_ROOT}/articles">Articles</a>
        <a class="hollow button" href="{ZEMA_ROOT}/about">About</a>
    </ul>
</div>